.tiptap.ProseMirror {
  /* 기본 컬러 변수 */
  --tt-collaboration-carets-label: theme('colors.gray.800'); /* collaboration caret */
  --link-text-color: theme('colors.blue.500'); /* 링크 색상 */
  --thread-text: theme('colors.gray.800'); /* 스레드 텍스트 */
  --placeholder-color: theme('colors.gray.400'); /* placeholder */
  --thread-bg-color: theme('colors.yellow.100'); /* 스레드 배경 */

  /* AI 삽입 텍스트 */
  --tiptap-ai-insertion-color: theme('colors.blue.600');

  /* 다크 모드 */
  .dark & {
    --tt-collaboration-carets-label: theme('colors.gray.100');
    --link-text-color: theme('colors.blue.400');
    --thread-text: theme('colors.gray.100');
    --placeholder-color: theme('colors.gray.500');
    --thread-bg-color: theme('colors.yellow.200');

    --tiptap-ai-insertion-color: theme('colors.blue.400');
  }
}

/* 프로세스 선택 영역 색상 */
.tiptap.ProseMirror {
  .selection {
    display: inline;
    background-color: theme('colors.blue.200'); /* 선택 영역 색상 */
  }

  .ProseMirror-selectednode:not(img):not(pre):not(.react-renderer) {
    border-radius: theme('borderRadius.md');
    background-color: theme('colors.blue.100'); /* 선택 노드 배경 */
  }
}

/* 링크, 멘션 */
.tiptap.ProseMirror {
  a {
    color: var(--link-text-color);
    text-decoration: underline;
  }

  [data-type="mention"] {
    display: inline-block;
    color: theme('colors.blue.500');
  }
}

/* 스레드 */
.tiptap.ProseMirror {
  .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--inline {
    color: var(--thread-text);
    border-bottom: 2px dashed theme('colors.yellow.400');
    font-weight: 600;

    &.tiptap-thread--selected,
    &.tiptap-thread--hovered {
      background-color: var(--thread-bg-color);
      border-bottom-color: transparent;
    }
  }

  .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block {
    &:has(img) {
      outline: 2px solid theme('colors.yellow.400');
      border-radius: theme('borderRadius.sm');
      overflow: hidden;
      width: fit-content;

      &.tiptap-thread--selected {
        outline-width: 3px;
        outline-color: theme('colors.yellow.400');
      }
    }

    &:not(:has(img)) {
      border-radius: theme('borderRadius.sm');
      border-bottom: 2px dashed theme('colors.yellow.400');
      padding-bottom: 0.5rem;
      outline: 2px solid transparent;

      &.tiptap-thread--hovered,
      &.tiptap-thread--selected {
        background-color: theme('colors.yellow.200');
        outline-color: theme('colors.yellow.400');
      }
    }
  }

  .tiptap-thread.tiptap-thread--resolved.tiptap-thread--inline.tiptap-thread--selected {
    background-color: theme('colors.yellow.300');
    border-color: transparent;
    opacity: 0.5;
  }
}

/* Dropcursor */
.prosemirror-dropcursor-block,
.prosemirror-dropcursor-inline {
  background: theme('colors.blue.400') !important;
  border-radius: 0.25rem;
  margin-left: -1px;
  margin-right: -1px;
  width: 100%;
  height: 0.188rem;
  cursor: grabbing;
}

/* Placeholder */
.is-empty[data-placeholder]:before {
  color: var(--placeholder-color);
}
