<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Token">
    <select id="getTokenInfo" resultType="com.kedu.ggirick_client_backend.dto.UserTokenDTO">
        SELECT e.id, a.grade as authority
        FROM employee e
        JOIN employee_authority ea ON e.id = ea.employee_id
        JOIN authority a ON ea.authority_id = a.id
        WHERE e.id = #{id}
    </select>
</mapper>