<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatWorkspaceChannel">

    <!-- 로그인한 사용자의 워크스페이스 가져오기-->
    <select id="selectWorkspacesByUser" parameterType="string" resultType="com.kedu.ggirick_client_backend.dto.chat.ChatWorkspaceDTO">
        SELECT
        w.ID AS id,
        w.NAME AS name,
        w.description as description,
        w.CREATED_BY AS createdBy,
        w.CREATED_AT AS createdAt
        FROM CHAT_WORKSPACE w
        JOIN CHAT_WORKSPACE_MEMBER m ON w.ID = m.WORKSPACE_ID
        WHERE m.EMPLOYEE_ID = #{employeeId}
        ORDER BY w.CREATED_AT DESC
    </select>

    <!-- 워크스페이스 아이디로 채널 가져오기 -->
    <select id="selectChannelsByWorkspaceId" parameterType="long" resultType="com.kedu.ggirick_client_backend.dto.chat.ChatChannelDTO">
        SELECT
        c.ID AS id,
        c.WORKSPACE_ID AS workspaceId,
        c.NAME AS name,
        t.TYPE AS type
        FROM CHAT_CHANNEL c
        LEFT JOIN CHAT_CHANNEL_TYPE t ON c.TYPE_ID = t.ID
        WHERE c.WORKSPACE_ID = #{workspaceId}
        ORDER BY c.ID ASC
    </select>
    <!--  워크스페이스 만들기 -->
    <insert id="createWorkspace" parameterType="com.kedu.ggirick_client_backend.dto.chat.ChatWorkspaceDTO" >
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT chat_workspace_seq.nextval FROM dual
        </selectKey>

        INSERT INTO CHAT_WORKSPACE (ID, NAME, CREATED_BY, CREATED_AT)
        VALUES (#{id}, #{name}, #{createdBy}, SYSTIMESTAMP)
    </insert>
    <!-- 채널 만들기 -->
    <insert id="createChannel" parameterType="com.kedu.ggirick_client_backend.dto.chat.ChatChannelDTO">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT chat_channel_seq.nextval FROM dual
        </selectKey>

        INSERT INTO CHAT_CHANNEL (ID, WORKSPACE_ID, NAME, TYPE_ID)
        VALUES (#{id}, #{workspaceId}, #{name}, #{typeId})
    </insert>

    <!-- 채널 참여자 추가 -->
    <insert id="insertChannelParticipant" parameterType="com.kedu.ggirick_client_backend.dto.chat.ChatChannelParticipantDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CHAT_CHANNEL_PARTICIPANT (CHANNEL_ID, EMPLOYEE_ID, JOINED_AT)
        VALUES (#{channelId}, #{employeeId}, sysdate)
    </insert>

    <!-- 채널 참여자 조회 -->
    <select id="selectChannelParticipantsByChannelId"
            parameterType="long"
            resultType="com.kedu.ggirick_client_backend.dto.chat.ChatChannelParticipantDTO">
        SELECT
        p.ID AS id,
        p.CHANNEL_ID AS channelId,
        p.EMPLOYEE_ID AS employeeId,
        e.name AS name,
        e.profile_url as profileUrl,
        p.JOINED_AT AS joinedAt,
        p.LEFT_AT AS leftAt
        FROM CHAT_CHANNEL_PARTICIPANT p
        JOIN employee e
        ON e.id = p.EMPLOYEE_ID
        WHERE p.CHANNEL_ID = #{channelId}
    </select>

    <!---해당 아이디가 속한 채널 목록인지 조회 -->
    <select id="selectChannelsByUserId" parameterType="String" resultType="com.kedu.ggirick_client_backend.dto.chat.ChatChannelDTO">
        SELECT c.*
        FROM CHAT_CHANNEL c
        JOIN CHAT_CHANNEL_PARTICIPANT p ON c.ID = p.CHANNEL_ID
        WHERE p.EMPLOYEE_ID = #{userId}
        AND p.LEFT_AT IS NULL
    </select>


    <!-- 워크스페이스 멤버 조회 -->
    <select id="selectWorkspaceMembers"
            parameterType="long"
            resultType="com.kedu.ggirick_client_backend.dto.chat.ChatWorkspaceMemberDTO">
        SELECT
        wsm.id AS id,
        wsm.workspace_id AS workspaceId,
        wsm.employee_id AS employeeId,
        e.name AS name,
        e.profile_url as profileUrl,
        wsm.role_id AS roleId,
        wsm.joined_at AS joinedAt
        FROM chat_workspace_member wsm
        JOIN employee e
        ON e.id = wsm.employee_id
        WHERE wsm.workspace_id = #{workspaceId}
        ORDER BY wsm.joined_at ASC
    </select>


    <!-- 채널 퇴장 처리 -->
    <update id="updateParticipantLeftAt" parameterType="map">
        UPDATE CHAT_CHANNEL_PARTICIPANT
        SET LEFT_AT = sysdate
        WHERE EMPLOYEE_ID = #{employeeId}
    </update>
</mapper>