/* =====================
   HIGHLIGHT BUTTON
   ===================== */
.tiptap-button-highlight {
  @apply relative w-5 h-5 rounded-full transition-transform;
  background-color: theme('colors.yellow.400'); /* 기본 하이라이트 색상, 필요시 변경 */

  &::after {
    content: "";
    @apply absolute w-full h-full left-0 top-0 rounded-full border-box border;
    border-color: theme('colors.yellow.400');
    filter: brightness(95%);
    mix-blend-mode: multiply;
  }
}

/* 활성 상태 */
.tiptap-button[data-active-state="on"] .tiptap-button-highlight::after {
  filter: brightness(80%);
}
