<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmployeeWorkPolicy">

    <!-- 직원별 근무정책 + 정책정보 조회 -->
    <select id="getAllWithPolicyDetails"
            resultType="com.kedu.ggirick_client_backend.dto.workmanagement.EmployeeWorkPolicyDTO">
        SELECT
        ewp.employee_id,
        ewp.policy_id,
        wp.policy_name,
        wp.work_start_time,
        wp.work_end_time
        FROM employee_work_policy ewp
        JOIN work_policy wp ON ewp.policy_id = wp.policy_id
    </select>

    <!-- 재직 중 직원의 근무정책 + 근무시간 조회 -->
    <select id="getAllActiveWithPolicyDetails"
            resultType="com.kedu.ggirick_client_backend.dto.workmanagement.EmployeeWorkPolicyDTO">
        SELECT
        ewp.employee_id,
        ewp.policy_id,
        wp.work_start_time,
        wp.work_end_time
        FROM employee_work_policy ewp
        JOIN work_policy wp ON ewp.policy_id = wp.policy_id
        JOIN employment_status es ON ewp.employee_id = es.employee_id
        WHERE es.status = 'ACTIVE'
    </select>

    <!-- 직원 한명의 근무정책 + 근무시간 조회 -->
    <select id="getEmployeeWorkPolicyDetails"
            resultType="com.kedu.ggirick_client_backend.dto.workmanagement.EmployeeWorkPolicyDTO">
        SELECT
        ewp.employee_id,
        ewp.policy_id,
        wp.policy_name,
        wp.work_start_time,
        wp.work_end_time
        FROM employee_work_policy ewp
        JOIN work_policy wp ON ewp.policy_id = wp.policy_id
    </select>
</mapper>

