<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Employee">
    <!-- 로그인용 id만 가져오는 select -->
    <select id="getById" resultType="com.kedu.ggirick_client_backend.dto.hr.EmployeeDTO">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <!-- 직원 정보 가져오기 /me, detail -->
    <!-- 직원 상세 정보 조회 -->
    <select id="getEmployeeInfo" resultType="com.kedu.ggirick_client_backend.dto.hr.EmployeeDTO">
        SELECT
        e.id,
        e.name,
        e.phone,
        e.extension,
        e.email,
        e.profile_url AS profileUrl,

        ej.job_code AS jobCode,
        j.name AS jobName,

        ed.department_code AS departmentCode,
        d.name AS departmentName,

        eo.organization_code AS organizationCode,
        o.name AS organizationName,

        es.reg_date AS hireDate,
        es.employment_status AS status,
        esc.name AS statusName

        FROM employee e

        LEFT JOIN employee_job ej ON e.id = ej.employee_id
        LEFT JOIN job j ON ej.job_code = j.code

        LEFT JOIN employee_department ed ON e.id = ed.employee_id
        LEFT JOIN department d ON ed.department_code = d.code

        LEFT JOIN employee_organization eo ON e.id = eo.employee_id
        LEFT JOIN organization o ON eo.organization_code = o.code

        LEFT JOIN employment_status es ON e.id = es.emp_id
        LEFT JOIN employment_status_code esc ON UPPER(es.employment_status) = UPPER(esc.code)

        WHERE e.id = #{id}
    </select>

    <!-- 직원 목록 가져오기 -->
    <select id="getAllEmployeeList" resultType="com.kedu.ggirick_client_backend.dto.hr.EmployeeDTO">
        SELECT
        e.id,
        e.name,
        e.phone,
        e.extension,
        e.email,
        e.profile_url AS profileUrl,

        ej.job_code AS jobCode,
        j.name AS jobName,

        ed.department_code AS departmentCode,
        d.name AS departmentName,

        eo.organization_code AS organizationCode,
        o.name AS organizationName,

        es.change_date AS hireDate,
        es.employment_status AS status,
        esc.name AS statusName

        FROM employee e

        LEFT JOIN employee_job ej ON e.id = ej.employee_id
        LEFT JOIN job j ON ej.job_code = j.code

        LEFT JOIN employee_department ed ON e.id = ed.employee_id
        LEFT JOIN department d ON ed.department_code = d.code

        LEFT JOIN employee_organization eo ON e.id = eo.employee_id
        LEFT JOIN organization o ON eo.organization_code = o.code

        LEFT JOIN employment_status es ON e.id = es.emp_id
        LEFT JOIN employment_status_code esc ON UPPER(es.employment_status) = UPPER(esc.code)

        ORDER BY e.id ASC
    </select>

    <!-- 올해 마지막 사번 조회 -->
    <select id="getLastEmployeeId" parameterType="string" resultType="string">
        SELECT MAX(id)
        FROM EMPLOYEE
        WHERE SUBSTR(id, 3, 2) = #{yearSuffix}
    </select>

    <!-- 직원 등록 + 부서, 조직, 권한, 재직 상태 반영 -->
    <insert id="insertEmployee">
        INSERT INTO employee (
        id, pw, name, phone, extension, email, profile_url
        ) VALUES (
        #{id, jdbcType=VARCHAR},
        #{pw, jdbcType=VARCHAR},
        #{name, jdbcType=VARCHAR},
        #{phone, jdbcType=VARCHAR},
        #{extension, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{profileUrl, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 직원-부서 등록 -->
    <insert id="insertEmployeeDepartment">
        INSERT INTO employee_department (
        id,
        employee_id,
        department_code
        ) VALUES (
        employee_department_seq.NEXTVAL,
        #{id, jdbcType=VARCHAR},
        #{departmentCode, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 재직 상태 등록 (기본 active) -->
    <insert id="insertEmploymentStatus">
        INSERT INTO employment_status (
        seq,
        emp_id,
        employment_status,
        change_date
        ) VALUES (
        employment_status_seq.NEXTVAL,
        #{empId, jdbcType=VARCHAR},
        'active',
        SYSDATE
        )
    </insert>

    <!-- 직원-직급 등록 -->
    <insert id="insertEmployeeJob">
        INSERT INTO employee_job (
        id,
        employee_id,
        job_code
        ) VALUES (
        employee_job_seq.NEXTVAL,
        #{id, jdbcType=VARCHAR},
        #{jobCode, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 직원-조직 등록 -->
    <insert id="insertEmployeeOrganization">
        INSERT INTO employee_organization (
        id,
        employee_id,
        organization_code
        ) VALUES (
        employee_organization_seq.NEXTVAL,
        #{id, jdbcType=VARCHAR},
        #{organizationCode, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 직원 권한 등록 (기본 authority_id = 1 / USER) -->
    <insert id="insertEmployeeAuthority">
        INSERT INTO employee_authority (
        id,
        employee_id,
        authority_id
        ) VALUES (
        employee_authority_seq.NEXTVAL,
        #{id, jdbcType=VARCHAR},
        1
        )
    </insert>

    <!-- 임시(초기)비밀번호 변경 여부 확인용 테이블 등록 -->
    <insert id="insertPasswordReset">
        INSERT INTO password_reset (emp_id)
        VALUES (#{id, jdbcType=VARCHAR})
    </insert>

    <!-- 직원 삭제 -->
    <delete id="deleteById">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <!-- 직원 정보 수정 -->
    <update id="updateById">
        UPDATE employee SET
        phone = #{phone},
        extension = #{extension},
        email = #{email, jdbcType=VARCHAR}
        <if test="profileUrl != null and profileUrl != ''">
            ,profile_url = #{profileUrl, jdbcType=VARCHAR}
        </if>
        WHERE id = #{id}
    </update>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword" parameterType="com.kedu.ggirick_client_backend.dto.hr.EmployeeDTO">
        UPDATE employee
        SET password = #{password}
        WHERE ID = #{id}
    </update>

    <!--아이디 리스트로 이름 가져오기 -->
    <select id="selectEmployeeNamesByIds" parameterType="list" resultType="string">
        SELECT name
        FROM employee
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="isEmailDuplicate" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM EMPLOYEE
        WHERE EMAIL = #{email} AND id != #{userId}
    </select>

    <!-- 핸드폰 번호 중복 확인 -->
    <select id="isPhoneDuplicate" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM EMPLOYEE
        WHERE PHONE = #{phone} AND id != #{userId}
    </select>

    <!-- 초기 비밀번호, 이메일, 핸드폰 번호 업데이트 -->
    <update id="updatePasswordAndEmailAndPhone" parameterType="map">
        UPDATE EMPLOYEE
        SET
        PW = #{encodePw},
        EMAIL = #{email},
        PHONE = #{phone}
        WHERE ID = #{employeeId}
    </update>
</mapper>