<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Organization">
    <!-- 조직 코드 -> 조직명 찾기 -->
    <select id="findOrganizationName" resultType="String" parameterType="String">
        SELECT name FROM organization WHERE UPPER(code) = UPPER(#{code, jdbcType=VARCHAR})
    </select>

    <!-- 선택한 직원 조직 수정 - 한명 정보 한꺼번에 수정시 사용 -->
    <update id="updateEmployeeOrganizationById" parameterType="com.kedu.ggirick_client_backend.dto.hr.EmployeeDTO">
        UPDATE employee_organization
        SET organization_code = #{organizationCode}
        WHERE employee_id = #{id}
    </update>
</mapper>